@import 'reset.scss';

.app {
  background-color: #3d3d3d;
}

.quiz {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__menu {
  border-radius: 30px;
  width: 800px;
  height: 500px;
  border: 2px solid #ffffff;
  color: #fff;
}

.question-count {
  position: relative;
  text-align: center;
  margin: 15px 0 10px 0;
  font-size: 25px;
  box-sizing: border-box;
}

.time {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.question-count::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom: 2px solid #fff;
}

.question-text {
  padding: 20px;
  font-size: 25px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.button-answer {
  font-family: 'Raleway', sans-serif;
  transition: 0.5s all;
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  background: none;
  padding: 10px;
  margin: 10px 0;
}

.button-answer:hover {
  filter: brightness(130%);
  transition: 0.5s all;
  background: linear-gradient(#4e4e4e, #757575);
}

.score-section {
  font-size: 35px;
  margin-top: 170px;
  text-align: center;
}

.wrong,
.success {
  line-height: 50px;
}
.wrong__link {
  color: crimson;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.success__link {
  color: chartreuse;
}
